body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  color: green;
}

.error {
  color: red;
  background-color: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
